<h1>Review your submission</h1>
<hr />

<%= render partial: "review_listing" %>

<hr />
<h4>Look good?</h4>
<!--this will submit the listing to be approved by admin, eventually -->
<button> <%= link_to "Submit for approval", listings_path %></button>