<%= render partial: "shared/header_big" %>

<% @categories.each do |c| %>
  <h4><%= c.name %> Jobs</h4>
  <ul>

    <% @listings.each do |l| %>
      <% if l.category_id == c.id %>
      <li>
        <%= link_to l.title, listing_path(l.id) %>, <%= l.headquarters %>
      </li>
      <% end %>
    <% end %>

  </ul>
<% end %>

