<%= render partial: "shared/header_small" %>

<div class="container">

  <h1>Create Your Ad</h1>
  <p>Posting a job listing costs $50 for 30 days. After 30 days on Dev/Local Jobs, the listing will be removed. You're welcome to repost the job for $50 for another 30 days.</p>

   <%= render partial: 'form' %>

   <%= link_to "Cancel", listings_path, class: "btn pull-right clearfix" %>

 </div>

