<%= render partial: "shared/header_big" %>

<div class="container">
  <h1 class="heading-primary">Search Results</h1>

  <%= render partial: "shared/listing_group" %>

  <%= link_to "Back to all jobs", listings_path, :class => "btn pull-right" %>
</div>
