<%= render partial: "shared/header_big" %>

<div class="container">
  <%= render partial: "shared/listing_post" %>

  <p class="clearfix">
    <%= link_to "Back to all jobs", listings_path, :class => "btn pull-right" %>
  </p>

  <p class="clearfix">
    <%= link_to "See all #{@listing.category.name} jobs", category_path(@listing.category), :class => "btn pull-right" %>
  </p>
</div>
