/* ==========================================================================
   Content
   ========================================================================== */

.content {
  flex: 1;
  padding: 48px 0;
}

/* ==========================================================================
   Headings
   ========================================================================== */

.heading-primary {
  font-size: 32px;
  font-weight: 700;
}

.heading-secondary {
  font-size: 21px;
  font-weight: 700;
}

.heading-tertiary {
  font-size: 16px;
  font-weight: 700;
}

/* ==========================================================================
   Buttons
   ========================================================================== */

.btn {
  display: inline-block;
  padding: 8px 10px 7px;
  border: 1px solid lighten($blue, 45%);
  border-radius: 4px;

  background: $white;
  color: $blue;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  transition: 0.15s ease;
  transition-property: background-color, border-color;

  &:hover,
  &:focus {
    border-color: $blue;

    background: $blue;
    color: $white;
    outline: none;
  }
}

.btn-primary {
  border-color: $blue;

  background: $blue;
  color: $white;

  &:hover,
  &:focus {
    border-color: darken($blue, 20%);

    background: darken($blue, 20%);
  }
}

/* ==========================================================================
   Wells
   ========================================================================== */

.well {
  margin-bottom: 24px;
  padding: 24px;
  border: 1px solid #ddd;
  border-radius: 4px;

  background: #eee;
  box-shadow: inset 1px 1px 3px rgba(0,0,0,0.1);
}
