.header {
  overflow: hidden;
  padding-bottom: 3px;

  @media only screen and (min-width: 700px) {
    padding-bottom: 12px;
  }
}

.header-mini {
  padding-bottom: 52px;

  text-align: center;

  .header-wrapper {
    height: 36px;
    padding: 0;
  }

  .logo-wrapper {
    position: relative;
    z-index: 1;

    display: inline-block;
    padding-top: 16px;

    &:before {
      content: "";
      position: absolute;
      top: -48px;
      right: -48px;
      bottom: -15px;
      left: -38px;
      z-index: -1;

      background: darken($blue, 10%);
      transform: skewX(-15deg);
    }
  }

  .logo {
    width: 200px;
    height: 32px;
  }
}

.header-wrapper {
  padding: 12px 0;

  background: $blue;
  color: $white;

  @media only screen and (min-width: 850px) {
    padding: 24px 0;
  }
}

.logo {
  display: block;
  width: 250px;
  height: 40px;
  margin: 0;

  background-image: inline-image("logo.svg");
  background-repeat: no-repeat;
}

.header-actions {
  position: relative;
  top: 9px;

  clear: both;
  padding-top: 18px;

  @media only screen and (min-width: 700px) {
    clear: none;
    float: right;

    padding: 0;
  }

  .searchbar,
  .btn {
    position: relative;
    z-index: 1;
  }

  &:before {
    content: "";
    position: absolute;
    top: 5px;
    right: -48px;
    bottom: -6px;
    left: -20px;

    background: darken($blue, 10%);

    @media only screen and (min-width: 700px) {
      top: -60px;
      bottom: -15px;

      transform: skewX(-15deg);
    }

    @media only screen and (min-width: 850px) {
      bottom: -38px;
      left: -38px;
    }
  }
}

.btn-header {
  overflow: hidden;
  width: 36px;
  height: 36px;
  padding: 0;
  border-color: $white;

  @media only screen and (min-width: 850px) {
    overflow: visible;
    width: auto;
    height: auto;
    padding: 8px 10px 7px;
  }

  &:hover,
  &:focus {
    border-color: $blue;
  }

  &:before {
    content: "+";
    display: block;

    font-size: 32px;
    line-height: 1;

    @media only screen and (min-width: 850px) {
      display: none;
    }
  }
}

.searchbar {
  float: left;
  margin-right: 24px;

  font-size: 0;

  @media only screen and (min-width: 850px) {
    margin-right: 36px;
  }
}

.searchbar-input,
.searchbar-btn {
  vertical-align: top;
}

.searchbar-input {
  padding: 9px 10px 8px;
  border: 0;
  border-radius: 4px 0 0 4px;

  background: rgba(255,255,255,0.6);
  color: darken($blue, 20%);
  font-size: 16px;
  transition: 0.3s ease background-color;

  &:focus {
    background: $white;
    outline: none;
  }
}

.searchbar-btn {
  border-color: lighten($blue, 15%);
  border-radius: 0 4px 4px 0;

  background-color: lighten($blue, 15%);
  color: $white;
}
