<%= render partial: "shared/header_small" %>

<div class="container">

  <h4>Current Admins</h4>

  <ul>
    <% @users.each do |u| %>
        <li>
          <%= u.email %>
        </li>
    <% end %>
  </ul>

  <%= link_to "Create an Admin", new_user_path, class: "btn" %>
  <%= link_to "Back to Review Listings", admin_path, class: "btn pull-right clearfix" %>

</div>
