<header class="header">
  <div class="container">
    <a href="<%= root_url %>">
      <h1 class="logo">
        <span class="visuallyhidden">DevLocal Jobs</span>
      </h1>
    </a>
  </div>
</header>

<main class="content">
