<header class="header header-mini" role="banner">
  <div class="header-wrapper">
    <div class="container clearfix">
      <a class="logo-wrapper" href="<%= root_url %>">
        <h1 class="logo">
          <span class="visuallyhidden">DevLocal Jobs</span>
        </h1>
      </a>
    </div>
  </div>
</header>

<main class="content">
