<%= render partial: "shared/header_small" %>

<div class="container">

  <h2>Thanks, you paid $50.00!</h2>
  <p>Your listing will be active until <%= (Time.now + 30.days).strftime("%m/%d/%Y") %>. </p>
  <p>Check your email for links to edit or delete it. </p>

</div>